<mat-toolbar>
  <button mat-icon-button (click)="toggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>

  <a routerLink="/assignments">
    <mat-icon>home</mat-icon>
  </a>

  <span>My App</span>

  <span class="spacer"></span>

  <a routerLink="/login">
    <mat-icon>account_circle</mat-icon>
  </a>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer mode="side" [opened]="opened">
    <mat-nav-list>
      <a mat-list-item routerLink="/assignments">Liste des devoirs</a>
      <a mat-list-item routerLink="/add-assignment">Ajout d'un devoir</a>
      <a mat-list-item routerLink="/create-data">Génération de données de test</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
