<!-- name fonctionne avec form ! -->
@if (assignment) {
<form (ngSubmit)="saveChanges()" #editForm="ngForm">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <mat-form-field>
          <mat-label>Nom du devoir</mat-label>
          <input matInput [(ngModel)]="nomDevoir" name="nomDevoir" required/>
        </mat-form-field>
      </mat-card-title>

      <span class="spacer"></span>
<!-- type="button" pour éviter le submit par defaut -->
      <button matFab type="button" (click)="deleteAssignment()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-header>

    <mat-card-content>
      <mat-card-subtitle>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="dateDeRendu"
            name="dateDeRendu"
            required
          />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-card-subtitle>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="description" name="description"></textarea>
      </mat-form-field>
    </mat-card-content>

    <p><mat-slide-toggle [(ngModel)]="rendu" name="rendu">Rendu</mat-slide-toggle></p>

    <button matButton="filled" type="submit" [disabled]="!editForm.form.valid">Save</button>
    <button matButton="tonal" type="button" (click)="cancel()">Cancel</button>
  </mat-card>
</form>
}
